@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/app/studentsCtrl.js"></script>

<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>

<div ng-app="myApp">
    <div ng-controller="studentsCtrl" ng-init="GetAll()" class="divList">

        <h3 class="mt-3">
            <span id="spn">Add New Student</span>
        </h3>

        
        <!-- Another variation with a button -->
        <div class="mb-5 mt-3" role="form">
            <label for="inputName">The Student's name</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inputName" placeholder="Eg: John" ng-model="Name">
                <div class="input-group-append">
                    <input type="button" id="btnSave" class="btn btn-primary" value="Submit" ng-click="Add()" />
                </div>
            </div>
        </div>


        <table cellpadding="12" class="table table-sm table-striped table-hover">
            <thead>
                <tr class="d-flex">
                    <td class="col-1 text-center">
                        <b>ID</b>
                    </td>
                    <td class="col-9">
                        <b>Name</b>
                    </td>
                    <td class="col-2">
                        <b>Actions</b>
                    </td>
                </tr>
            </thead>
            <tr class="d-flex" ng-repeat="student in students">
                <td class="col-1 text-center">
                    {{student.Id}}
                </td>
                <td class="col-9">
                    {{student.Name}}
                </td>
                <td class="col-auto">
                    <input type="button" class="btn btn-warning btn-sm" value="Update" ng-click="Update(student)" />
                    <input type="button" class="btn btn-danger btn-sm" value="Delete" ng-click="Delete(student)" />
                </td>
            </tr>
        </table>

    </div>

    @Html.Hidden("StudentID")

</div>

